<!DOCTYPE html>
<html>

<head>
    <title>YouTube Sentiment Analysis</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <header class="header">
        <div class="container">
          <h1>Insightify</h1>
          <h3>Empowering Your Video Discoveries!</h3>
            <!-- <img class="logo" src="https://img1.wsimg.com/isteam/ip/f8a782f9-60a1-4af5-8a2b-3b836d8b225e/DALL%C2%B7E%202024-01-09%2020.38.54%20-%20Logo%20for%20Insighti.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25" alt="Logo"/> -->
        </div>
      </header>
      <div class="spacer"></div>

      <form action="/" method="post">
        <div class="button-container">
            <input type="text" size="50" name="video_topic" placeholder="Enter your query" required>
        </div>
        <button type="submit" id="analyze-button" class="button" value="Analyze">Fetch</button>
    </form>

    {% if data %}
    {% for video in data %}
      <div class="video-summary">
        <h2 class="video-title">Summary for "{{ video['title'] }}"</h2>
        <p><a href = "https://www.youtube.com/watch?v={{ video['video_id'] }}">Video Link</a></p>
        <div class="video-stats">
          <p class="num-likes"><b>Likes:</b> {{ video['like_count'] }}</p>
          <p class="num-views"><b>Views:</b> {{ video['view_count'] }}</p>
          <p class="num-comments"><b>Comments:</b> {{ video['num_comments'] }}</p>
        </div>
        <p class="positive"><b>Positive:</b> {{ video['positive'] }}</p>
        <p class="negative"><b>Negative:</b> {{ video['negative'] }}</p>
        <!-- <p class="num-comments"><b>Number of Comments:</b> {{ video['num_comments'] }}</p>   -->
        <p class="rating"><b>Rating:</b> {{ video['rating'] }}%</p>
        <!-- <div class="gen-output-box">
          <p><b>Top points:</b>{{video['genout']}}</p>
        </div> -->
        <h3> Top Comments</h3>
        <table class="comment-table">
            <tr>
                <th>Comment</th>
                <th>Sentiment</th>
            </tr>
            {% for comment, sentiment in video['comments_data'] %}
            <tr>
                <td>{{ comment }}</td>
                <td>{{ sentiment }}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
    {% endfor %}
  {% endif %}

</body>


</html>