<!DOCTYPE html>
<html>

<head>
    <title>YouTube Sentiment Analysis</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <header class="header">
        <div class="container">
          <img class="logo" src="static/smartview_logo.png" alt="Logo" style="position: absolute; top: 0; left: 0;">
          <!-- <h1>Insightify</h1> -->
           <h3>Empowering Your <br><span style="color: violet;">Video Discoveries!</span></h3>
           <p style="font-size: 1.2em; color: antiquewhite;">SmartView helps you choose the best YouTube videos by analyzing comments for sentiment. Easily find top videos on any topic, see positive and negative feedback, and get a quick summary to make informed viewing choices.</p>
          <div style="display: flex; justify-content: center; margin-top: 100px;">
            <button style="padding: 7px 28px; background-color: white; border-radius: 9999px; display: flex; align-items: center; justify-content: center;">
              <a href="#form-section" style="text-decoration: none;">
                <span style="color: gray; font-size: 16px; font-weight: bold; text-transform: uppercase;">Get Started</span>
              </a>
            </button>
          </div>
            <div class="spacer"></div>
            <form action="/" method="post" id="form-section">
            <div class="button-container"> 
              <input type="text" size="50" name="video_topic" placeholder="Enter your query" required style="width: 80%; margin: 0 auto; display: block;">
              <button type="submit" id="analyze-button" class="button" value="Analyze" style="padding: 10px 30px;">
                <span style="color: rgb(9, 0, 0); font-size: 16px; font-weight: bold; text-transform: uppercase;">GO</span>

              </button>
            </div>
            </form>

    {% if data %}
    {% for video in data %}
      <div class="video-summary">
        <h2 class="video-title">Summary for <span style="color: violet;">{{ video['title'] }}</span></h2>
        <p><a href = "https://www.youtube.com/watch?v={{ video['video_id'] }}">Video Link</a></p>
        <div class="video-stats">
          <p class="num-likes"><b>Likes:</b> {{ video['like_count'] }}</p>
          <p class="num-views"><b>Views:</b> {{ video['view_count'] }}</p>
          <p class="num-comments"><b>Comments:</b> {{ video['num_comments'] }}</p>
        </div>
        <p class="positive"><b>Positive:</b> {{ video['positive'] }}</p>
        <p class="negative"><b>Negative:</b> {{ video['negative'] }}</p>
        <!-- <p class="num-comments"><b>Number of Comments:</b> {{ video['num_comments'] }}</p>   -->
        <p class="rating"><b>Rating:</b> {{ video['rating'] }}%</p>
        <!-- <div class="gen-output-box">
          <p><b>Top points:</b>{{video['genout']}}</p>
        </div> -->
        <h3 class="top-comments"> Top Comments</h3>
        <table class="comment-table">
            <tr>
                <th>Comment</th>
                <th>Sentiment</th>
            </tr>
            {% for comment, sentiment in video['comments_data'] %}
            <tr>
                <td>{{ comment }}</td>
                <td>{{ sentiment }}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
    {% endfor %}
  {% endif %}


  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
    <footer class="footer">
        <div class="container">
            <p>© 2024 SmartView. All rights reserved.</p>
        </div>
    </footer>
    

</body>


</html>